html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Balerno',serif;
  color: var(--primary-color);
}

:root{
  --primary-color: #264734;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  border-bottom: .5rem solid var(--primary-color);
}

ul,
ol,
dl{
  margin: 0;
  padding: 0;
}

/* NAVBAR STYLING*/

.active{
  font-weight: bold;
}

#kurumsal_content_navbar {
  border: 1px solid var(--primary-color);
  padding: 0.6rem 1.2rem;
}

#kurumsal_content_navbar ul{
  list-style: none;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_item{
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 0.5rem 1rem;
}

.nav_item:nth-child(2n) {
  border-right: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
}

.nav_link{
  font-size: 1.20rem;
}

.nav_link:hover{
  font-weight: bold;
  color: inherit;
}

.nav_link:focus{
  font-weight: bold;
  color: inherit;
}

.dropdown_menu{
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 1rem;
}

.hasDropdown:hover .dropdown_menu{
  display: block;
}

.dropdown_item{
  min-width: 8rem;
  padding: 0.25rem 0.25rem;
  border-top: 1px solid var(--primary-color);
}

.dropdown_link:hover{
  font-weight: bold;
  color: inherit;
}

.dropdown_link:focus{
  font-weight: bold;
  color: inherit;
}

/* MainContent Styling */

#mainContent{
  padding-top: 2rem;
  padding-bottom: 2rem;
}