#kurumsal_content_navbar {
    border: 1px solid var(--primary-color);
    padding: 0.6rem 1.2rem;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.nav_item{
    margin-right: 1rem;
    margin-left: 1rem;
}
